# Dependencies
node_modules
.next
.next-build
.next-dev

# Environment
.env.local
.env*.local

# Build
dist
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage
.turbo
